* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "inria sans", sans-serif;
  border: 1px solid red;
}

body {
  height: 100vh;
  background-color: black;
  background-image: linear-gradient(to bottom, #212121, transparent, #13303e);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 120px;
  align-items: center;
}

.logo-container {
  display: flex;
  gap: 150px;
}

.menu-container {
  display: flex;
  gap: 40px;
  color: white;
  font-size: 24px;
}

.profile {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  font-weight: lighter;
}

.container {
  display: flex;

}

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  gap: 30px;
  align-items: center;
}

.main-container {
  display: flex;
}

input {
  font-size: 15px;
  padding-right: 328px;
  background-color: #141414;
  border: solid black 1px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  padding-left: 26px;
}

.search-container {
  position: relative;
}

.search {
  position: absolute;
  left: 5px;
  top: 2px;
  width: 16px;
}

.image-container {
  position: relative;
}

.tags-container {
  display: flex;
  gap: 7px;
  position: absolute;
  top: 5px;
  color: white;
}

.tags {
  background-color: #212121;
  padding: 4px;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 10px;
}

.background-image {
  margin-top: 32px;
  position: relative;
}

.text {
  position: absolute;
  top: 22px;
  left: 22px;
  color: white;
}

.text p {
  width: 300px;
  text-align: justify;
}